.cp-subtitle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  gap: 24px;

  & p {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.86px;
  }
}
.colors-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  place-items: center;
}

/* mobile style */

.colors-wrapper-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {
  .cp-subtitle-container {
    margin-top: -20px;
  }
  .colors-container {
    display: flex;
    gap: 16px;
  }
}
